In [89]:
# %load main.py
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import datetime as dt

churn_df = pd.read_csv('data/churn.csv')
churn_test_df = pd.read_csv('data/churn_test.csv')
churn_train_df = pd.read_csv('data/churn_train.csv')

#Assuming Churn is the positive (Churn = 1)

def clean_data(data, col_list):
    cleaned_df = data.copy()
    for col in col_list:
        cleaned_df[col] = pd.to_datetime(churn_df[col])
    cleaned_df['churn'] = cleaned_df['last_trip_date'] < date_30_days_ago()
    cleaned_df['luxury_car_user'].replace({True: 1, False: 0}, inplace = True)
    return cleaned_df
    
def date_30_days_ago():
    current_date = datetime.strptime('2014-07-01', '%Y-%m-%d')
    earliest_date = current_date - dt.timedelta(days = 30)
    return earliest_date
        
        
if __name__ == '__main __':
    pass

In [93]:
churn_test_df

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct
0,2.48,5.0,5.0,1.00,Winterfell,2014-01-07,Android,2014-01-06,0.0,2,True,100.0
1,10.81,5.0,5.0,1.00,Winterfell,2014-04-29,iPhone,2014-01-06,0.0,3,True,100.0
2,12.95,5.0,5.0,1.00,Astapor,2014-01-29,Android,2014-01-19,0.0,1,True,100.0
3,3.92,5.0,NaN,1.00,Winterfell,2014-02-16,iPhone,2014-01-09,0.0,0,False,0.0
4,1.46,5.0,4.5,1.00,Astapor,2014-01-09,iPhone,2014-01-07,0.0,2,False,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.11,5.0,5.0,1.00,King's Landing,2014-02-01,iPhone,2014-01-31,0.0,1,False,100.0
9996,5.49,4.9,4.1,1.00,Winterfell,2014-05-27,iPhone,2014-01-30,0.0,0,True,33.3
9997,2.49,4.2,4.6,1.25,Winterfell,2014-05-24,Android,2014-01-15,18.8,9,True,90.6
9998,1.05,4.0,5.0,1.00,Astapor,2014-01-23,Android,2014-01-22,0.0,1,False,100.0
9999,6.31,5.0,5.0,1.00,Astapor,2014-04-27,iPhone,2014-01-25,0.0,0,True,0.0